body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background: #ffffff;
}

.container_header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    color: black;
    font-weight: bold;
    position: fixed;
    background: #ffffff;

}
.image_logo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 30%;
    padding-left: 2em;
}
.container_logo img{
   width: 10%;
}
nav{
    display: flex;
    padding-right: 2em;
        
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 1em;
}
li{
    margin: 0.8em;
}
nav a{
    text-decoration: none;
    color: black;

}
.container_text{
    width: 100%;
    text-align: center;
    height:25em;
    padding: 2em;
    background-color: gray;

}
.container_text h1{
    font-size: 4em;
    text-align: center;
}
.container_text p{
    margin-bottom: 2em;
}

.container_text button{
    width: 15%;
    height: 2em;
    font-size: 2em;

}
/* section about me */

.about{
    display:flex;
    flex-direction: row;
}

.container_about .subtitle{
    text-align: center;
    font-size: 2em;
    

}
.p_about, .skills h3{
    text-align: center;
}

.skills{
    width: 50%;
    display: flex;
    flex-direction: column;
   
}

.container_skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.knowme{
    width: 50%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
button{
    text-align: center;
    width: 30%;
    height: 4em;
    margin-bottom: 0.6em;
}
.content_skills{
    display: flex;
    flex-direction: row;
    height: 20%;
    margin: 2em;
}
.html, .javascript, .seo{
    width: 15%;
}
.css , .responsive_desing, .terminal{
    width: 20%;
}
/* section projects */

.container_projects{
    text-align: center;
    margin: 2em;
    padding-top: 1em;
}
.container_projects h2{
    font-size: 3em;
}
.container_group{
    display: flex;
    flex-direction: column;
}
.container_img, .container_img1, .container_img2, .container_img3{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
    margin-top: 1em;

}
img{
    width: 30em;
    margin-bottom: 1em;
}